body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 50px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #aaa;
    width: 300px;
    margin: auto;
}
