body {
    text-align: center;
    max-width: 1920px;
    max-height: fit-content;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

ul.product-list {
    display: grid;
    grid-template-columns: repeat(3,800px);
    padding: 0;
    list-style-type: none;
}

.product-item {
    background-color: #FFFFFF;
    max-width: 420px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.pictureURL {
    display: block;
    max-width: 100%;
    height: 420px;
    width: 420px;
    object-fit: cover;
    border-radius: 5px;
}

.brand, .name, .price {
    text-align: left;
    padding: 10px;
}

.brand {
    font-size: 17px;
    font-weight: 700;
}

.name {
    color: #000000;
    font-size: 25px;
    font-weight: 900;
}

.price {
    color: grey;
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.product-item p {
    margin: 0;
}
