<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="/stylesProductList.css">

    <title>Shopyfly</title>
</head>

<body>
<div>
    <input type="text" id="search" />
    <ul class="product-list">
    <li class="product-item" th:each="product: ${products}">
        <p class="name" th:text="${product.name}"></p>
        <p class="price" th:text="${product.price}"></p>
        <p class="size" th:text="${product.size}"></p>
        <p class="brand" th:text="${product.brand}"></p>
        <p class="stock" th:text="${product.stock}"></p>
    </li>
    </ul>
</div>

<script>
    var search = document.getElementById("search");
    var products = document.querySelectorAll(".product-item");
    console.log(products)
    search.addEventListener("input", (e)=> {

        for(const product of products){

            if(!product.innerHTML.includes(e.currentTarget.value)) {
                product.style.display = "none";
            } else {
                product.style.display = "list-item";
            }
        }
    })
</script>
</body>
</html>
