<!DOCTYPE html>
<html lang="de">

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung</title>
    <link rel="stylesheet" href="/stylesRegistration.css">
</head>

<body>
<form action="#" th:action="@{/demo/register}" th:object="${user}"  method="post">
    <div class="wrapper">
        <div class="form">
            <h1 class="title">Willkommen</h1>
            <div class="inp">
                <input type="text" name="fullname" class="input" placeholder="Nachname" th:field="*{fullname}">
            </div>
            <div class="inp">
                <input type="text" name="name" class="input" placeholder="Name" th:field="*{name}">
            </div>
            <div>
                <p class="error" th:text="${nameError}"></p>
            </div>
            <div class="inp">
                <input type="text" name="email" class="input" placeholder="Email" th:field="*{email}" >
            </div>
            <input type="submit" value="Registrieren" class="submit">
            <div class="footer">
                Hast du schon ein Login? <a href="/demo/login" class="link">Login</a>
            </div>
        </div>
        <div class="banner">
            <div class="shopyfly">Shopyfly </div>
            <div class="register">Registrieren </div>

            <div class="para"></div>
        </div>
    </div>
</form>
</body>

</html>
